/* NAVIGATION BAR */
.navbar {
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px; 
    font-weight: normal;
    border: none;
    outline: none;
    color: black;
    background-color: whitesmoke;
    padding: 14px 16px;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
  }
  
  .navbar a:hover, .dropdown-right:hover .dropbtn {
    background-color: lightgrey;
  }
  
  .dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {
    background-color: lightgrey;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* BACKGROUND */

.opaque {
  opacity: 0.5;
  filter: alpha(opacity=50);
}